name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: 3.110.55.100
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
             cd pet-co
             git pull
             cd backend
             mvn clean package -DskipTests
             pkill -f pet-co.jar || true
             nohup java -jar target/*pet-co.jar > app.log 2>&1 < /dev/null &
             disown

